@page "/Home"

<MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Class="mud-width-full">
    <MudPaper Elevation="4">
        <MudStack Row Class="pa-2" AlignItems="AlignItems.Center" Wrap="Wrap.Wrap">
            <MudDatePicker Label="Check In" @bind-Date="date" Variant="Variant.Outlined" Margin="Margin.Dense" />
            <MudDatePicker Label="Check Out" @bind-Date="date" Variant="Variant.Outlined" Margin="Margin.Dense" />
            <MudNumericField @bind-Value="IntValue" Label="Rooms" Variant="Variant.Outlined" Step="1" Min="1" Max="99" Margin="Margin.Dense" />
            <MudSelect T="string" Label="Guests" Variant="Variant.Outlined" Margin="Margin.Dense">
                <MudSelectItem Value="@("Children")" />
                <MudSelectItem Value="@("Adults")" />
            </MudSelect>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/rooms" Size="Size.Medium" StartIcon="@Icons.Material.Filled.Search" IconSize="Size.Large">Search</MudButton>
        </MudStack>
    </MudPaper>
    <MudCarousel Class="mud-width-full py-3" Style="height:450px;width:100%;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
        @for (int i = 1; i <= 8; i++)
        {
            string image = $"images/{i}.jpg";
            <MudCarouselItem Transition="transition">
                <div class="d-flex" style="height:100%; width: 100%">
                    <MudImage ObjectFit="ObjectFit.Cover" Src="@image" Style="height:100%; width: 100%" />
                </div>
            </MudCarouselItem>
        }



    </MudCarousel>

    @* <MudItem Class="text-center text-lg-start bg-body-tertiary text-muted wh-100" xs="8">
    <MudStack Row Class="me-5 d-none d-lg-block" Spacing="0">
    <MudText Typo="Typo.caption">Get connected with us on social networks:</MudText>
    <MudSpacer />
    <MudIconButton Icon="fab fa-facebook-f" Class="me-4 text-reset" />
    <MudIconButton Icon="fab fa-twitter" Class="me-4 text-reset" />
    <MudIconButton Icon="fab fa-google" Class="me-4 text-reset" />
    <MudIconButton Icon="fab fa-instagram" Class="me-4 text-reset" />
    </MudStack>
    <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
    <MudStack Spacing="0" >
    <MudText Typo="Typo.h6"><MudIcon Icon="fas fa-gem me-3"></MudIcon>Company Name</MudText>
    <MudText Typo="Typo.body1">
    Here you can use rows and columns to organize your footer content. Lorem ipsum
    dolor sit amet, consectetur adipisicing elit.
    </MudText>
    </MudStack>
    <MudStack>
    <MudText Typo="Typo.h6">Services</MudText>
    <MudText Typo="Typo.body1">Rooms</MudText>
    <MudText Typo="Typo.body1">Baths</MudText>
    <MudText Typo="Typo.body1">Sample</MudText>
    <MudText Typo="Typo.body1">Sample</MudText>
    </MudStack>
    <MudStack>
    <MudText Typo="Typo.h6">Links</MudText>
    <MudText Typo="Typo.body1">Prices</MudText>
    <MudText Typo="Typo.body1">Sample</MudText>
    <MudText Typo="Typo.body1">Faqs</MudText>
    <MudText Typo="Typo.body1">Help</MudText>
    </MudStack>
    <MudStack Wrap="Wrap.NoWrap">
    <MudText Typo="Typo.h6">Contact</MudText>
    <MudText Typo="Typo.body1">
    <MudIcon Icon="fas fa-home me-3"></MudIcon> Brgy. Camp One, Udiao, Rosario, La Union
    </MudText>
    <MudText Typo="Typo.body1">
    <MudIcon Icon="fas fa-envelope me-3"></MudIcon> support@ncmslu.com
    </MudText>
    <MudText Typo="Typo.body1">
    <MudIcon Icon="fas fa-phone me-3"></MudIcon> +63912345678
    </MudText>
    </MudStack>
    </MudStack>

    </MudItem> *@
   
    <Footer/>


</MudStack>




@code {
    private bool arrows = true;
    private bool bullets = false;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
    public int IntValue { get; set; } = 1;

    DateTime? date = DateTime.Today;
}