@using NCMS_wasm.Shared
@using NCMS_wasm.Client.Pages.Validations
@using MudBlazor.Extensions
@using MudExtensions.Utilities

<MudTypographyProvider />
<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="fas fa-users"></MudIcon>
            @Action Guest
        </MudText>
    </TitleContent>
    <DialogContent>
        @* <MudForm @ref="form" Model="@rfidInfo" Validation="@(modelValidator.ValidateValue)" ValidationDelay="0"> *@


        <MudStepperExtended @ref="_stepper" Class="w-100" ContentStyle="min-height: 300px" ShowSkipButton="false" HeaderBadgeView="HeaderBadgeView.GreyOutIncomplete"
                            PreventStepChangeAsync="new Func<StepChangeDirection, int, Task<bool>>(CheckChange)" Variant="Variant.Filled" Color="Color.Primary"
                            MobileView="false" Loading="_loading" HeaderTextView="HeaderTextView.All" HeaderSize="Size.Large">
            <ChildContent>
                <MudStepExtended Icon="@Icons.Material.Filled.Approval" Title="Guest Info." Order="0">
                    <ChildContent>
                        <MudForm @ref="guestForm" Model="@tempGuestInfo" Validation="@(guestValidator.ValidateValue)" ValidationDelay="0">
                            <MudPaper Class="pa-2" Elevation="4">
                                <MudTextM3 Typo="TypoM3.Title" Size="Size.Medium" Class="py-2 fw-bolder">Booking Information</MudTextM3>
                                <MudStack Row>
                                    <MudTextField ReadOnly="@isReadOnly" @bind-Value="tempGuestInfo.FirstName" For="@(() => tempGuestInfo.FirstName)" Label="First Name" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                    <MudTextField ReadOnly="@isReadOnly" @bind-Value="tempGuestInfo.MiddleName" For="@(() => tempGuestInfo.MiddleName)" Label="Middle Name" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                    <MudTextField ReadOnly="@isReadOnly" @bind-Value="tempGuestInfo.LastName" For="@(() => tempGuestInfo.LastName)" Label="Last Name" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                </MudStack>
                                <MudTextField ReadOnly="@isReadOnly" @bind-Value="tempGuestInfo.Phone" For="@(() => tempGuestInfo.Phone)" Label="Phone Number" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                <MudTextField ReadOnly="@isReadOnly" @bind-Value="tempGuestInfo.Email" For="@(() => tempGuestInfo.Email)" Label="Email Address" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                <MudStack Row Class="py-1" AlignItems="AlignItems.Center" Wrap="Wrap.Wrap">
                                    <MudDatePicker ReadOnly="@isReadOnly" PickerVariant="PickerVariant.Dialog" Label="Check In" @bind-Date="tempGuestInfo.CheckInDate" For="@(() => tempGuestInfo.CheckInDate)" AdditionalDateClassesFunc="@((DateTime dt)=>((int)dt.DayOfWeek == 0 ? "red-text text-accent-4" : ""))" IsDateDisabledFunc="@((DateTime dt) => dt.Date < DateTime.Today)" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                    <MudDatePicker ReadOnly="@isReadOnly" PickerVariant="PickerVariant.Dialog" Label="Check Out" @bind-Date="tempGuestInfo.CheckOutDate" For="@(() => tempGuestInfo.CheckOutDate)" AdditionalDateClassesFunc="@((DateTime dt)=>((int)dt.DayOfWeek == 0 ? "red-text text-accent-4" : ""))"
                                                   IsDateDisabledFunc="@((DateTime dt) => dt.Date <= tempGuestInfo.CheckInDate)" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                </MudStack>
                                <MudStack Row>
                                    <MudNumericField ReadOnly="@isReadOnly" Class="py-1" @bind-Value="tempGuestInfo.Rooms" For="@(() => tempGuestInfo.Rooms)" Label="Rooms" Variant="Variant.Outlined" Step="1" Min="1" Max="99" Margin="Margin.Dense" />
                                    <MudNumericField ReadOnly="@isReadOnly" Class="py-1" @bind-Value="tempGuestInfo.Children" For="@(() => tempGuestInfo.Children)" Label="Children" Variant="Variant.Outlined" Step="1" Min="1" Max="99" Margin="Margin.Dense" />
                                    <MudNumericField ReadOnly="@isReadOnly" Class="py-1" @bind-Value="tempGuestInfo.Adults" For="@(() => tempGuestInfo.Adults)" Label="Adults" Variant="Variant.Outlined" Step="1" Min="1" Max="99" Margin="Margin.Dense" />
                                </MudStack>
                                <MudStack Row>
                                    <MudTextField @bind-Value="tempGuestInfo.IDType" For="@(() => tempGuestInfo.IDType)" Label="ID Type" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                    <MudTextField @bind-Value="tempGuestInfo.IDNumber" For="@(() => tempGuestInfo.IDNumber)" Label="ID Number" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                </MudStack>
                                <MudSelect T="BookingType" ReadOnly="@isReadOnly" Label="Booking Type" @bind-Value="bookingInfo.Guests.BookingType" For="@(() => bookingInfo.Guests.BookingType)" Variant="Variant.Outlined" Class="py-1"
                                           AnchorOrigin="Origin.BottomCenter" Margin="Margin.Dense">
                                    @foreach (var type in Enum.GetValues(typeof(BookingType)).Cast<BookingType>())
                                    {
                                        bool isDisabled = true; // Default all items to disabled

                                        if (tempGuestInfo.BookingType == BookingType.Reservation)
                                        {
                                            isDisabled = !(type == BookingType.Booked || type == BookingType.Cancelled);
                                        }
                                        else if (tempGuestInfo.BookingType == BookingType.Booked || tempGuestInfo.BookingType == BookingType.Walkin_Booking)
                                        {
                                            isDisabled = type != BookingType.Checked_Out;
                                        }

                                        <MudSelectItem Value="type" Disabled="@isDisabled">
                                            @type.ToString().Replace("_", " ")
                                        </MudSelectItem>
                                    }
                                </MudSelect>
                            </MudPaper>
                        </MudForm>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Title="Booking Info." Icon="@Icons.Material.Filled.MoreVert" Order="1">
                    <ChildContent>
                        <MudPaper Class="pa-2" Elevation="4">
                            <MudStack Spacing="0">
                                <MudText Typo="Typo.body1"><strong>Check In Date: </strong> @bookingInfo.Guests.CheckInDate?.ToString("MM/dd/yyyy hh:mm tt")</MudText>
                                <MudText Typo="Typo.body1"><strong>Check Out Date: </strong> @bookingInfo.Guests.CheckOutDate?.ToString("MM/dd/yyyy hh:mm tt")</MudText>
                                <MudText Typo="Typo.body1"><strong>Booking Type: </strong> @bookingInfo.Guests.BookingType.ToString().Replace("_", " ")</MudText>
                                <MudText Typo="Typo.body1"><strong>Guest Count: </strong> @(bookingInfo.Guests.Adults + bookingInfo.Guests.Children) </MudText>
                            </MudStack>

                            <MudSelect T="RoomType" ReadOnly="@isReadOnly" Label="Room Type" @bind-Value="selectType" Class="pt-3" Variant="Variant.Outlined"
                                       AnchorOrigin="Origin.BottomCenter" Margin="Margin.Dense">
                                @foreach (var type in Enum.GetValues(typeof(RoomType)).Cast<RoomType>())
                                {
                                    <MudSelectItem Value="type">@type.ToString().Replace("_", " ")</MudSelectItem>
                                }
                            </MudSelect>
                            @if (_selectedItems.Count == 0)
                            {
                                <MudText Color="Color.Error" Class="py-2">No room type selected.</MudText>
                            }

                            <MudDataGrid Items="@roomsList.Where(x=> (x.Status == RoomStatus.Available || x.Status == RoomStatus.Reservation) && (x.Type == selectType || _selectedItems.Any(s => s.RoomId == x.RoomId)) ).ToList()" T="RoomInfo" Dense HorizontalScrollbar="true" Class="w-100 py-2"
                                         @bind-SelectedItems="_selectedItems" SelectOnRowClick="@(!isReadOnly)" RowClass="cursor-pointer"
                                         MultiSelection="true" ColumnResizeMode="ResizeMode.Container">
                                <Columns>
                                    <TemplateColumn T="RoomInfo" Tag="@("select-column")"
                                                    HeaderStyle="background-color: #1abc9c; color: white;"
                                                    Sortable="false"
                                                    ShowColumnOptions="false"
                                                    Hidden="@isReadOnly"
                                                    Filterable="false"
                                                    Hideable="false">
                                        <CellTemplate>
                                            @{
                                                context.Item.Selected = context.Selected;
                                            }
                                            <MudSwitch @bind-Value="context.Item.Selected"
                                                       ThumbIcon="@(context.Selected==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)"
                                                       ThumbIconColor="@(context.Selected==true ? Color.Success : Color.Error)"></MudSwitch>
                                        </CellTemplate>
                                    </TemplateColumn>
                                    <PropertyColumn Property="x => x.RoomNumber" Title="No." HeaderStyle="background-color: #1abc9c; color: white;" />
                                    <PropertyColumn Property="x => x.Type" Title="Room Type" HeaderStyle="background-color: #1abc9c; color: white;">
                                        <CellTemplate>
                                            <MudText Typo="Typo.body1">@context.Item.Type.ToString().Replace("_", " ")</MudText>
                                        </CellTemplate>
                                    </PropertyColumn>

                                    <PropertyColumn Property="x => x.PricePerNight" Title="Rate" HeaderStyle="background-color: #1abc9c; color: white;">
                                        <CellTemplate>
                                            <MudStack Spacing="0">
                                                <MudTextM3 Typo="TypoM3.Label" Size="Size.Small">Price: @context.Item.PricePerNight.ToString("C", new System.Globalization.CultureInfo("en-PH"))</MudTextM3>
                                                <MudTextM3 Typo="TypoM3.Label" Size="Size.Small">Max Guest: @context.Item.MaxGuest</MudTextM3>
                                            </MudStack>
                                        </CellTemplate>
                                    </PropertyColumn>

                                </Columns>
                                <NoRecordsContent>
                                    <MudText>No Records to show</MudText>
                                </NoRecordsContent>
                                <LoadingContent>
                                    <MudText>Loading Content...</MudText>
                                </LoadingContent>
                                <PagerContent>
                                    <MudDataGridPager T="RoomInfo" />
                                </PagerContent>
                            </MudDataGrid>

                        </MudPaper>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Icon="@Icons.Material.Filled.Money" Title="Payment" Order="2">
                    <ChildContent>
                        <MudPaper Class="pa-2" Elevation="4">
                            <MudStack Row AlignItems="AlignItems.Baseline">
                                <MudText>Payment Type: </MudText>
                                <MudToggleGroup T="bool" SelectionMode="SelectionMode.SingleSelection" @bind-Value="bookingInfo.Billing.IsCard" Color="Color.Primary" CheckMark FixedContent>
                                    <MudToggleItem Value="false" Text="Cash" />
                                    <MudToggleItem Value="true" Text="Card" />
                                </MudToggleGroup>
                            </MudStack>

                            @if (bookingInfo.Billing.IsCard)
                            {
                                <MudTextField @bind-Value="bookingInfo.Billing.CardTransactionId" Required RequiredError="Card Payment Invoice No Required" Label="Card Transaction ID" HelperText="Fill this if Debit/Credit Card was used." Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                <MudText Typo="Typo.body1" Class="pt-3">
                                    <strong>Total:</strong>
                                    @((_selectedItems.Sum(p => p.PricePerNight)* Days).ToString("C", new System.Globalization.CultureInfo("en-PH")))
                                </MudText>

                            }
                            else
                            {
                                <MudNumericField Class="py-2" @bind-Value="bookingInfo.Billing.CashReceived" Required Format="N2" Label="Cash Received" Variant="Variant.Outlined" HideSpinButtons Min="1" Margin="Margin.Dense" />
                              
                                <MudText Typo="Typo.body1" Class="pt-3">
                                    <strong>Total:</strong>
                                    @((_selectedItems.Sum(p => p.PricePerNight) * Days).ToString("C", new System.Globalization.CultureInfo("en-PH")))
                                </MudText>
                                <MudText Typo="Typo.body1" Class="text-danger">
                                    <strong>Change:</strong>
                                    
                                    @((bookingInfo.Billing.CashReceived - (_selectedItems.Sum(p => p.PricePerNight) * Days)).ToString("C", new System.Globalization.CultureInfo("en-PH")))
                                </MudText>
                            }

                            <MudText Typo="Typo.body1">
                                <strong>Vatable:</strong>
                                @(( (_selectedItems.Sum(p => p.PricePerNight) * Days) / 1.12M).ToString("C", new System.Globalization.CultureInfo("en-PH")))
                            </MudText>

                            <MudText Typo="Typo.body1">
                                <strong>VAT (12%):</strong>
                                @(((_selectedItems.Sum(p => p.PricePerNight) * Days) - (_selectedItems.Sum(p => p.PricePerNight) * Days) / 1.12M).ToString("C", new System.Globalization.CultureInfo("en-PH")))
                            </MudText>
                        </MudPaper>
                    </ChildContent>
                </MudStepExtended>
                <MudStepExtended Icon="@Icons.Material.Filled.DoorSliding" Title="Access" Order="3">
                    <ChildContent>
                        <MudForm>
                            <MudStack>
                                @{
                                    if (_selectedItems.Any())
                                    {

                                        foreach (var item in _selectedItems)
                                        {
                                            <MudPaper Elevation="4" Class="pa-2">
                                                <MudStack Row AlignItems="AlignItems.Baseline">
                                                    <MudText Typo="Typo.body1">Room No. @item.RoomNumber</MudText>
                                                    <MudSpacer />
                                                    <MudIconButton Icon="@Icons.Material.Filled.DocumentScanner" OnClick="@(() => ScanCard(item.RoomNumber))" />
                                                </MudStack>
                                                <MudText Typo="Typo.subtitle1" Class="text-muted">Card Id: @tempCards.FirstOrDefault(x => x.RoomNumber == item.RoomNumber)?.CardReference</MudText>
                                            </MudPaper>
                                        }
                                    }
                                }

                            </MudStack>
                        </MudForm>
                    </ChildContent>
                </MudStepExtended>
                @if (_addResultStep)
                {
                    <MudStepExtended Icon="@Icons.Material.Filled.Alarm" Title="Result Step" IsResultStep="true">
                        <ChildContent>
                            <div class="d-flex flex-column align-center justify-center" style="height: 200px">
                                <MudIconButton Icon="@Icons.Material.Filled.DoneAll" Size="Size.Large" Variant="Variant.Filled" Color="Color.Success" OnClick="OnSubmit" />
                                <MudText>Booking transaction completed.</MudText>
                            </div>
                        </ChildContent>
                    </MudStepExtended>
                }
            </ChildContent>

        </MudStepperExtended>


    </DialogContent>
    @*   <DialogActions>
    <MudButton OnClick="Cancel">Cancel</MudButton>
    <MudLoadingButton Variant="Variant.Filled"
    Color="Color.Success"
    Size="Size.Large"
    OnClick="OnSubmit"
    Loading="@(_loading)"
    ButtonType="ButtonType.Button">
    <LoadingContent>Submitting...</LoadingContent>
    <ChildContent>Submit</ChildContent>
    </MudLoadingButton>
    </DialogActions> *@
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }
    [Inject] HttpClient? httpClient { get; set; }
    [Inject] ISnackbar Snackbar { get; set; }
    [Inject] IJSRuntime JSRuntime { get; set; }

    [Inject] IDialogService? DialogService { get; set; }

    MudForm form;
    [Parameter] public Booking bookingInfo { get; set; }
    private bool _loading = false;

    [Parameter] public DateTime? dateFrom { get; set; }
    [Parameter] public string? userId { get; set; }
    [Parameter] public BookingType bookingType { get; set; }
    [Parameter] public string? Action { get; set; }

    private decimal Total = 0.00M;
    private int Days = 0;
    private bool isReadOnly = false;
    private List<RoomInfo> roomsList = new List<RoomInfo>();
    private HashSet<RoomInfo> _selectedItems = new();
    MudStepperExtended? _stepper = new();
    bool _addResultStep = true;
    bool _checkValidationBeforeComplete = true;
    private RoomType selectType = RoomType.Twin;
    MudForm? guestForm;
    GuestsInfoValidator guestValidator = new GuestsInfoValidator();
    private GuestsInfo tempGuestInfo = new();
    private List<RFIDCard> tempCards = new();
    private bool isLoadingSubmit = false;

    private async Task OnSubmit()
    {
        try
        {

            try
            {
                isLoadingSubmit = true;

                bookingInfo.AccessCard.AddRange(tempCards);
                if (Action == "Add")
                {
                    bookingInfo.CreatedBy = userId;
                    bookingInfo.Guests.CreatedBy = userId;
                    bookingInfo.Billing.CreatedBy = userId;
                    bookingInfo.AccessCard.ForEach(card => card.CreatedBy = !string.IsNullOrEmpty(userId) ? userId : null);
                }
                else
                {
                    bookingInfo.UpdatedBy = userId;
                    bookingInfo.Guests.UpdatedBy = userId;
                    bookingInfo.Billing.UpdatedBy = userId;
                    bookingInfo.AccessCard.ForEach(card => card.UpdatedBy = !string.IsNullOrEmpty(userId) ? userId : null);
                }


                bookingInfo.Billing.Total = _selectedItems.Sum(p => p.PricePerNight) * Days;
                bookingInfo.Billing.Change = bookingInfo.Billing.CashReceived - bookingInfo.Billing.Total;
                bookingInfo.Billing.Vatable = bookingInfo.Billing.Total / 1.12M;
                bookingInfo.Billing.VAT = bookingInfo.Billing.Total - bookingInfo.Billing.Total / 1.12M;
                string endpoint = "AddBooking";
                if (Action != "Add")
                {
                    endpoint = "UpdateBooking";
                }

                var response = await httpClient.PostAsJsonAsync($"HotelManagement/{endpoint}", bookingInfo);
                response.EnsureSuccessStatusCode();
                if (response.IsSuccessStatusCode)
                {
                    var result = await response.Content.ReadAsStringAsync();
                    Snackbar.Add($"Booking has been {(Action == "Add" ? "created" : "updated")}.", Severity.Success);
                    MudDialog.Close(DialogResult.Ok(true));
                }
                else
                {
                    var errorMessage = await response.Content.ReadAsStringAsync();
                    Snackbar.Add($"Failed to {(Action == "Add" ? "save" : "update")} booking info: {response.StatusCode} - {errorMessage}", Severity.Error);
                }

            }
            catch (Exception ex)
            {
                Snackbar.Add($"An error occured: {ex.Message}", Severity.Error);
            }
            finally
            {
                isLoadingSubmit = false;
            }


        }
        catch (Exception ex)
        {
            Snackbar.Add($"An error occured: {ex.Message}", Severity.Error);
        }
        finally
        {
            _loading = false;
        }
        // Snackbar.Add($"Card Value: {rfidInfo.CardReference}", Severity.Normal);
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadRoomsList();

        if (Action == "Add")
        {
            tempGuestInfo.CheckInDate = dateFrom;
        }
        else
        {
            isReadOnly = true;
            tempGuestInfo = bookingInfo.Guests;
            tempGuestInfo.BookingType = BookingType.Booked;
            tempGuestInfo.UpdatedBy = userId;
            await OnGetBooking();
           
        }


        await base.OnParametersSetAsync();
    }

    private async Task OnGetBooking()
    {
        try
        {

            var bookingTemp = new Booking
                {
                    Guests = tempGuestInfo
                };
            var response = await httpClient.PostAsJsonAsync("HotelManagement/GetBookingInfo", bookingTemp);

            if (response.IsSuccessStatusCode)
            {

                bookingInfo = await response.Content.ReadFromJsonAsync<Booking>();
                bookingInfo.Guests.BookingType = BookingType.Booked;
                selectType = bookingInfo.Room.FirstOrDefault().Type;
                _selectedItems.Add(bookingInfo.Room.FirstOrDefault());
                if (tempGuestInfo.CheckInDate.HasValue && tempGuestInfo.CheckOutDate.HasValue)
                {
                    TimeSpan? difference = tempGuestInfo.CheckOutDate.Value - tempGuestInfo.CheckInDate.Value;
                    Days = (int)difference.Value.TotalDays + 1;
                }
            }
            else
            {

                throw new Exception("Failed to retrieve booking info");
            }


        }
        catch (Exception ex)
        {
            Snackbar.Add($"An error occured: {ex.Message}");
        }

    }



    private async Task ScanCard(int RoomNumber)
    {
        var options = new DialogOptions
            {
                CloseOnEscapeKey = false,
                FullWidth = true,
                MaxWidth = MaxWidth.Small,
                BackdropClick = false,
                CloseButton = true
            };
        var parameters = new DialogParameters<CardScanDialog>
        {
            {x => x.roomNumber, RoomNumber}

        };
        var dialog = await DialogService.ShowAsync<CardScanDialog>("Simple Dialog", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            var cardId = result.Data.ToString();

            if (tempCards.Any())
            {
                // Find if an RFIDCard with the same RoomNumber already exists
                // var existingCard = bookingInfo.AccessCard.FirstOrDefault(ac => ac.RoomNumber == RoomNumber);
                var existingCard = tempCards.FirstOrDefault(ac => ac.RoomNumber == RoomNumber);

                if (existingCard != null)
                {
                    // Update the CardReference if the card exists
                    existingCard.CardReference = cardId;
                }
                else
                {
                    // Add a new RFIDCard if the RoomNumber doesn't exist
                    var rfidCard = new RFIDCard
                        {
                            CardReference = cardId,
                            IsActive = true,
                            RoomNumber = RoomNumber,
                            Type = RFIDType.Access
                        };
                    tempCards.Add(rfidCard);
                    // bookingInfo.AccessCard.Add(rfidCard);

                }
            }
            else
            {
                var rfidCard = new RFIDCard
                    {
                        CardReference = cardId,
                        IsActive = true,
                        RoomNumber = RoomNumber,
                        Type = RFIDType.Access
                    };
                tempCards.Add(rfidCard);

                // bookingInfo.AccessCard.Add(rfidCard);

            }

        }
    }

    private async Task<bool> CheckChange(StepChangeDirection direction, int targetIndex)
    {
        if (direction == StepChangeDirection.Backward)
        {
            return false;
        }
        var activeIndex = _stepper?.GetActiveIndex();
        if (activeIndex == 0)
        {
            _loading = true;
            StateHasChanged();
            await guestForm.Validate();
            _loading = false;
            StateHasChanged();
            if (guestForm.IsValid)
            {
                tempGuestInfo.CheckInDate = tempGuestInfo.CheckInDate?.Date.AddHours(14);
                tempGuestInfo.CheckOutDate = tempGuestInfo.CheckOutDate?.Date.AddHours(11);
                bookingInfo.Guests = tempGuestInfo;
            }
            return !guestForm.IsValid;

        }
        else if (activeIndex == 1)
        {
            _loading = true;
            await Task.Delay(1000);
            _loading = false;

            return _selectedItems.Count == 0;


        }
        else if (activeIndex == 2)
        {
            _loading = true;
            StateHasChanged();
            await Task.Delay(1000);
            _loading = false;
            if (bookingInfo.Billing.IsCard)
            {
                return string.IsNullOrEmpty(bookingInfo.Billing.CardTransactionId);
            }
            else
            {
                return (bookingInfo.Billing.CashReceived) == decimal.Zero;
            }
            StateHasChanged();

        }
        else if (activeIndex == 3)
        {
            bookingInfo.Room.Clear();
            bookingInfo.Room.AddRange(_selectedItems);
            var roomCount = bookingInfo.Room.Count();
            var rfidCount = tempCards.Where(x => !string.IsNullOrEmpty(x.CardReference) && x.RoomNumber != null).Count();

            _loading = true;
            StateHasChanged();
            await Task.Delay(1000);
            _loading = false;
            StateHasChanged();
            var retVal = false;
            if (roomCount != rfidCount)
            {
                retVal = true;
                Snackbar.Add("Please assign key card to each room", Severity.Warning);
            }

            return retVal;
        }
        else
        {
            return false;
        }

    }


    private async Task LoadRoomsList()
    {

        try
        {
            roomsList = await httpClient.GetFromJsonAsync<List<RoomInfo>>($"HotelManagement/GetRooms");
        }
        catch (Exception ex)
        {
            Snackbar.Add($"An error occured: {ex.Message}");
        }

    }






    void Cancel() => MudDialog.Cancel();
}
